html {
    background-color: chocolate;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    max-width: 1200px;   
}
.item-1{
    width: 468px;
    height: 160px;
    background-color: blueviolet;
    border-radius: 5%;
    margin: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    flex-direction: row;
}
        .box1 {
            width: 78px;
            height: 78px;
            background: #9D0208;
            border-radius: 4px;
            margin: 10px;
        }
        .box2{
            width: 78px;
            height: 78px;
            background: #9D0208;
            border-radius: 4px;
            margin: 10px;
        }
        .box3{
            width: 78px;
            height: 78px;
            background: #9D0208;
            border-radius: 4px;
            margin: 10px;
        }
.item-2{
    width: 468px;
    height: 160px;
    background-color: blueviolet;
    border-radius: 5%;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-direction: row;
}
        .box4 {
            width: 78px;
            height: 120px;
            background: #9D0208;
            margin: 10px;
        }
        .box5 {
            width: 78px;
            height: 120px;
            background: #9D0208;
            margin: 10px;
        }
        .box6{
            width: 78px;
            height: 120px;
            background: #9D0208;
            margin: 10px;
        }
.item-3{
    width: 468px;
    height: 160px;
    background-color: blueviolet;
    border-radius: 5%;
    margin: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
}
        .box7 {
            width: 78px;
            height: 78px;
            background: #9D0208;
            border-radius: 4px;
            margin-top: 10px;
            margin: 10px;
        }
        .box8 {
            width: 78px;
            height: 78px;
            background: #9D0208;
            border-radius: 4px;
            margin: 10px;
        }
        .box9 {
            width: 78px;
            height: 78px;
            background: #9D0208;
            border-radius: 4px;
            margin: 10px;
        }
.item-4{
    width: 468px;
    height: 160px;
    background-color: blueviolet;
    border-radius: 5%;
    margin: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    /*align-self: flex-end;*/
    flex-direction: row;
}
        .box10 {
            width: 78px;
            height: 78px;
            background: #9D0208;
            border-radius: 4px;
            margin-top: 10px;
            margin: 10px;
}
        .box11 {
            width: 78px;
            height: 78px;
            background: #9D0208;
            border-radius: 4px;
            margin: 10px;
}
        .box12 {
            width: 78px;
            height: 78px;
            background: #9D0208;
            border-radius: 4px;
            margin: 10px;
            align-self: flex-end;
        }
.item-5{
    width: 468px;
    height: 160px;
    background-color: blueviolet;
    border-radius: 5%;
    margin: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    flex-direction: row;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
}
        .box13 {
            width: 78px;
            height: 120px;
            background: #9D0208;
            border-radius: 4px;
            margin: 10px;
        }
        .box14{
            width: 78px;
            height: 78px;
            background: #9D0208;
            border-radius: 4px;
            margin: 10px;
        }
        .box15{
            width: 78px;
            height: 120px;
            background: #9D0208;
            border-radius: 4px;
            margin: 10px;
        }
.item-6{
    width: 468px;
    height: 160px;
    background-color: blueviolet;
    border-radius: 5%;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
        .box16 {
            width: 78px;
            height: 78px;
            background: #9D0208;
            border-radius: 4px;
            margin: 10px;
        }
        .box17{
            /*width: 156px;*/
            flex-grow: .7;
            height: 78px;
            background: #9D0208;
            border-radius: 4px;
            margin: 10px;
        }
        .box18{
            width: 78px;
            height: 78px;
            background: #9D0208;
            border-radius: 4px;
            margin: 10px;
        }